name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  units:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - run: npm ci
    - run: npm test

  test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: ./
      with:
        arch: amd64
